:root {
    --clr-header-bg--: black;
    --clr-logo-drpShdw--:black;
    --clr-aside-bg--:black;
    --clr-aside-border--:black;
    --clr-aside-selcted--:black;
    --clr-nav-bg--: black;
    --clr-nav-hvr--: black;
    --clr-art1-bg--:black;
    --clr-art2-bg--:black;
    --clr-section-bg--: black;
    --clr-search-bg1--:black;
    --clr-search-bg2--: black;
    --clr-search-selcted--: black;
    --clr-search-border--:black;
    --clr-search-icon--:black;
    --clr-search-iconhvr--:black;
    --clr-light-font--: black;
    --clr-dark-font--: black;
    --clr-link-font--: black;
    --clr-link-hover--:black;
    --clr-footer-bg--: black;

    scroll-behavior: smooth;
}

.mousemove {
    height: 15px;
    width: 15px;
    border: 2px solid var(--clr-nav-bg--);
    background-color: rgb(60, 60, 60,0.3);
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .2s ease-out;
    z-index: 0;
    pointer-events: none;
}

h1 {
    color: var(--clr-light-font--);
    font-size: 2.5em;
    text-shadow: var(--clr-logo-drpShdw--) 4px 4px 4px;
}

aside h2, #art_presentation h2 {
    font-size: 1.1em;
    padding-left: 5px;
    margin: 10% 0 10% 15%;
    border-left: var(--clr-aside-border--) 8px double;
    &::first-letter {
        font-size: 1.3em;
    }
}

h3 {
    font-size: 1.2em;
    text-decoration: none;
}

h6 {
    font-size: 3em;
    margin: 15px;
    text-align: center;
    color: var(--clr-dark-font--);
    border-bottom: var(--clr-section-bg--) 3px solid;
}

ul,li {
    list-style: none;
}

body {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    color: var(--clr-dark-font--);
    overflow-x: hidden;
}

footer a, article a {
    color: var(--clr-link-font--);
    text-decoration: none;
}

/* ###### Bloc de navigation latérale ###### */

aside {
    position: sticky;
    top: 0;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
}

aside + div {
    width: 100%;
}

/* les textes desciptives */
aside, aside span+span, aside h2 {
    color: var(--clr-light-font--);
    background-color: var(--clr-aside-bg--);
}

.selected_span {
    border-bottom: 1px solid var(--clr-aside-selcted--);
}

aside > div {
    position: sticky;
    top: 300px;
    transform: translate(0,-50%);
}

aside a {
    text-decoration: none;
}

aside a > div {
    height: fit-content;
    width: fit-content;
    gap: 10px;
    padding: 14px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;
}

aside nav {
    height: max-content;
    width: auto;
    border-bottom: var(--clr-aside-border--) 3px solid;
    border-top: var(--clr-aside-border--) 3px solid;
}

aside nav:nth-child(1) {
    border: none;
    margin: 20%;
}

aside nav:nth-child(1) i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--clr-light-font--);
    cursor: pointer;
    &:hover{
        color: var(--clr-dark-font--);
    }
}

aside ul {
    margin: 0;
    padding-left:20%;
}

/* Navigation */

.navigation i {
    color: var(--clr-light-font--);
}

aside span + span, aside h2 {
    visibility: collapse;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.aside_open {
    width: 15%;
}

.aside_open div{
    top: 360px;
}

.span_visible {
    visibility: visible;
    display: block;
    opacity: 1;
}

/* Select color*/

.select-color  {
    border-bottom: var(--clr-aside-selcted--) 3px solid;
    border-top: var(--clr-aside-selcted--) 3px solid;
}

.navigation + h2 {
    border-left-color: var(--clr-aside-selcted--)
}

.sphere-color {
    align-self: flex-end;
    border: 20px solid;
    border-radius: 50%;
    transform: rotate(45deg);
    filter: brightness(1);
    transition: filter 0.3s;
    &:hover {
        transform: rotate(90deg);
        filter: brightness(0.9);
    }
}

.selected {
    box-shadow:var(--clr-aside-selcted--) 4px 0px 6px;
}

/* Sélection des couleurs */

.color-default {
    border-color: #364968 #364968 #FDDF97 #FDDF97;
    :hover {
        border-color: #FDDF97 #FDDF97 #364968 #364968;
    }
}

.color-ice {
    border-color: #ccc #ccc #55abc5 #55abc5;
    &:hover {
        border-color: #55abc5 #55abc5 #ccc #ccc;
    }
}

.color-hot {
    border-color: #9e928b #9e928b #d72a2a  #d72a2a;
    &:hover {
        border-color: #d72a2a #d72a2a #9e928b #9e928b;
    }
}

.color-forest {
    border-color: #884009 #884009 #5b9245 #5b9245;
    &:hover {
        border-color: #5b9245 #5b9245 #884009 #884009;
    }
}

/* ###### Bloc principale ###### */

main {
    width: 100%;
}

/* Arrangement du header
arrangement en ligne, espacé entre eux
composant aligner au centre verticalement
Définition de la couleur du fond
*/
header {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--clr-header-bg--);
}

/* logo menu */

/* Logo portfolio */
header > a > img {
    padding: 5px 0;
    width: 236.29px;
    height: 102.02px;
    filter: drop-shadow(4px 4px 4px var(--clr-logo-drpShdw--));
}

header img {
    object-fit: cover;
}

/* ### Barre de recherche ###
*/

/* bloc de la barre */    
.search-input {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

/* -- Définition du logo loupe --
- ajustement dans la barre de recherche
- Logo de couleur orange
- changement du curseur
*/
.search-input input + div + a {
    position: absolute;
    right: 0.9em;
    top: 0.9em;
    color: var(--clr-search-icon--);
    cursor: pointer;
    &:hover {
        color: var(--clr-search-iconhvr--);
    }
}

/* Liste de suggestions */
header input + div {
    z-index: 5;
    margin-left: .5px;
    width: 98.5%;
    top: 45px;
    position: absolute;
    background-color: var(--clr-search-bg1--);
    border: var(--clr-search-border--) 1px solid;
    overflow-x: scroll;
}

header li {
    width: auto;
    background-color: var(--clr-search-bg1--);
    text-wrap: nowrap;
    &:hover{
        cursor: pointer;
        background-color: var(--clr-search-selcted--);
    }
}

header li:nth-child(2),header li:nth-child(4),header li:nth-child(6),header li:nth-child(8),header li:nth-child(10),header li:nth-child(12) {
    background-color: var(--clr-search-bg2--);
}

/* Barre de recherche */

header input {
    width: 100%;
    height: 40px;
    background-color: var(--clr-section-bg--);
}

/* Navigation */

article > nav {
    position: sticky;
    top: 0%;
    z-index: 3;
    background-color: var(--clr-nav-bg--);
    padding: 5px 0;
}

article > nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

article > nav a{
    color: var(--clr-light-font--);
    text-decoration: none;
}
  

a:hover:not(#list_competence_project a,.erreur404 a){
    color: var(--clr-link-hover--);
    text-decoration: underline;
}

/* # main # */

.main {
    display: flex;
    flex-flow: row nowrap;
}

article {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    border: var(--clr-nav-bg--) 7px double;
    background-color: var(--clr-art1-bg--);
}

article nav + h6 + div {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
}

article nav + h6 + div > div + div {
    display: flex;
    flex-flow: column wrap;
    width: 55%;
}

article:nth-child(2),article:nth-child(4) {
    background-color: var(--clr-art2-bg--);
    border-color: var(--clr-header-bg--);
}

article:nth-child(2) nav, article:nth-child(4) nav {
    background-color: var(--clr-header-bg--);
}

article:nth-child(2) section, article:nth-child(4) section {
    border-color: var(--clr-header-bg--);
}

/* Article présentation */

#art_presentation nav + h6 + div > div {
    height: min-content;
}

#cv {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px;
    gap: 15px;
}

#cv div:nth-child(1) {
    text-wrap: wrap;
}

#cv div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

#cv img {
    border: var(--clr-dark-font--) 1px solid;
    filter: brightness(.5);
    transition: .5s filter;
    &:hover {
        filter: brightness(1);
    }
}

form {
    width: 150px;
    border: solid 1px var(--clr-dark-font--);
    border-radius: 15px;
    padding: 10px 15px;
}

label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover input ~ .checkmark {
        background-color: var(--clr-aside-bg--);
    }
}
  
label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
        background-color: var(--clr-header-bg--);
    }
    &:checked ~ .checkmark:after {
        display: block;
    }
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--clr-aside-border--);
    border-radius: 50%;
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}
  
label .checkmark:after {
    top: 6.5px;
    left: 6.2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--clr-light-font--);
}

button {
    margin-top: 15%;
    margin-left: 14%;
    padding: 5px;
    padding-inline: 10px;
    background-color: var(--clr-search-icon--);
    color: var(--clr-light-font--);
    &:hover {
        background-color: var(--clr-aside-bg--);
    }
    &:active {
        background-color: var(--clr-search-iconhvr--);
    }
}

section {
    width: auto;
    margin: 15px;
    padding: 10px;
    background-color: var(--clr-section-bg--);
    border: var(--clr-nav-bg--) 2px solid;
}

section img{
    width: 200px;
    object-fit: cover;
}

/* parcours */

#parcours {
    display: none;
    transition: .5s all;
    flex-flow: column nowrap;
    align-items : center;
    width: 550px;
}

#parcours h3 + div{
    width: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: relative;
    bottom: -50px;
    &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 1250px;
        transform: translateY(-5.5%);
        background-color: black;
    }
}

.point {
    position: relative;
    z-index: 2;
    border-radius: 25%;
    border: 10px solid red;
    transform: translate(-35%,0);
    &:before {
        content: "";
        position: absolute;
        background-color: red;
        transform: translate(-100%,-50%); /* Varier entre 0 et -100%*/
        width: 50px;
        height: 5px;
    }
}

.point:nth-child(3) {
    border-color: orange;
    &:before {
        background-color: orange;
        transform: translate(0,-50%); /* Varier entre 0 et -100%*/
    }
}

.point:nth-child(5) {
    border-color: #b8b814;
    &:before {
        background-color: #b8b814;
    }
}

.point:nth-child(7) {
    border-color: green;
    &:before {
        background-color: green;
        transform: translate(0,-50%);
    }
}

.point:nth-child(9) {
    border-color: darkgreen;
    &:before {
        background-color: darkgreen;
    }
}

.point:nth-child(11) {
    border-color: teal;
    &:before {
        background-color: teal;
        transform: translate(0,-50%);
    }
}

.point:nth-child(13) {
    border-color: blue;
    &:before {
        background-color: blue;
    }
}

.point:nth-child(15) {
    border-color: darkblue;
    &::before {
        background-color: darkblue;
        transform: translate(0,-50%);
    }
}

.point:nth-child(17) {
    border-color: purple;
    &::before {
        background-color: purple;
    }
}

.hist {
    position: relative;
    width: 150px;
    transform: translate(55px,-55px);
    background-color: #eee;
    border-radius: 15%;
    padding: 5px;
    transition: .5s all;
}

.hist:nth-child(2), .hist:nth-child(6), .hist:nth-child(10), .hist:nth-child(14), .hist:nth-child(18) {
    transform: translate(-215px,-55px);
}

h4, h5 {
    margin: 10px;
}

h5 {
    margin-left: 20px;
}
/* Presentation */

#presentation {
    position: relative;
}

#presentation img {
    position: relative;
    float: right;
    align-self: flex-end;
}

#presentation div + a {
    position: absolute;
    bottom: 18%;
    left: 20%;
    padding: 10px;
    color: var(--clr-light-font--);
    background-color: var(--clr-header-bg--);
    box-shadow: var(--clr-aside-bg--) 8px 5px;
    transition: .5s all;
    &:hover {
        color: var(--clr-light-font--);
        background-color: var(--clr-search-icon--);
        text-decoration: underline var(--clr-light-font--);
        box-shadow: var(--clr-aside-bg--) 6px 4px;
    }
    &:active {
        color: var(--clr-light-font--);
        background-color: var(--clr-search-iconhvr--);
        text-decoration: underline var(--clr-light-font--);
        box-shadow: var(--clr-aside-bg--) 2px 2px;
    }
}

/* Compétence */

#competence h3 + div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#competence li span {
    font-size: 1.2em;
    border-left: var(--clr-header-bg--) 8px double;
    border-bottom: var(--clr-header-bg--) 2px solid;
    padding-left: 5px;
}


#competence h4 {
    background-color: var(--clr-aside-bg--);
    color: var(--clr-light-font--);
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    font-size: 1.2em;
}

/* centre d'intéret */

.galerie-photo {
	display : flex;
    flex-flow: row nowrap;
	height : 20rem;
	gap : 1rem;
}

.galerie-photo > div{
	flex : 1;
	border-radius : 1rem;
	background-position : center;
	background-repeat : no-repeat;
	background-size : auto 100%;
	transition : all .8s cubic-bezier(.25, .4, .45, 1.4);
    &:hover {
        flex : 5;
    }
    &:not(:hover) {
        opacity: 0.7;
        filter: brightness(.4);
    }
}

#list_competence_project {
    display: flex;
    flex-flow: column nowrap;
}

/* bloc de compétence */

#list_competence_project div {
    display: flex;
    flex-flow: column nowrap;
}

#list_competence_project ul {
    display: none;
    visibility: collapse;
    justify-content: space-evenly;
}

#list_competence_project li {
    border: var(--clr-search-iconhvr--) 5px solid;
    border-radius: 20px;
    width: 25%;
    box-shadow: var(--clr-search-icon--) 10px 10px;
    transition: .5s all;
    &:hover {
        box-shadow: var(--clr-art2-bg--) 5px 5px;  
    }
}

#list_competence_project li h3 {
    margin-left: 40px;
}

#list_competence_project h2{
    display: flex;
    flex-flow: nowrap row;
    padding: 15px;
    color: var(--clr-light-font--);
    text-shadow: 2px 0 var(--clr-dark-font--), -2px 0 var(--clr-dark-font--), 0 2px var(--clr-dark-font--), 0 -2px var(--clr-dark-font--),
             1px 1px var(--clr-dark-font--), -1px -1px var(--clr-dark-font--), 1px -1px var(--clr-dark-font--), -1px 1px var(--clr-dark-font--);
}

#list_competence_project .list_open ul {
    display: flex;
    flex-flow: row wrap;
    visibility: visible;
}

#list_competence_project a {
    color: var(--clr-dark-font--);
}

#list_competence_project div:nth-child(1) h2 {
    background-color: red;
}

#list_competence_project div:nth-child(2) h2 {
    background-color: Orange;
}

#list_competence_project div:nth-child(3) h2 {
    background-color: #dddd00;
}

#list_competence_project div:nth-child(4) h2 {
    background-color: lightgreen;
}

#list_competence_project div:nth-child(5) h2 {
    background-color: blue;
}

#list_competence_project div:nth-child(6) h2 {
    background-color: black;
}

#list_competence_project div:nth-child(7) h2 {
    background-color: pink;
}

/* Erreur 404 - Projet non trouvé */

.erreur404 {
    height: 700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.erreur404 img {
    width: 400px;
    width: 400px;
    margin-top: 30px;
    animation: infinite 5s not_found;
    pointer-events: none;
}

@keyframes not_found {
    25% {
        transform: rotate(15deg);
    } 75% {
        transform: rotate(-15deg);
    }
}

.erreur404 h2 {
    margin-top: -120px;
    font-size: 2em;
    text-align: center;
    animation: jello-horizontal 0.9s both;
}

.erreur404 span {
    text-decoration: underline;
    font-size: 1.5em;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-30 21:32:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes jello-horizontal {
    0% {
              transform: scale3d(1, 1, 1);
    }
    30% {
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
              transform: scale3d(1, 1, 1);
    }
}

  
.erreur404 a {
    width: 250px;
    padding: 20px;
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
    color: var(--clr-light-font--);
    background-color: var(--clr-search-icon--);
    box-shadow: var(--clr-footer-bg--) 10px 10px 5px;
    transition: .5s all;
    &:hover {
        color: var(--clr-light-font--);
        background-color: var(--clr-search-iconhvr--);
        text-decoration: none;
        box-shadow: var(--clr-footer-bg--) 5px 5px 5px;
    }
}

/* # footer # */

footer {
    background-color: var(--clr-footer-bg--);
    color: var(--clr-light-font--);
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

address > span {
    font-size: 1.5em;
}

address span + div {
    margin-top: 5px;
}

.ft_tel, .ft_mail{
    margin-inline: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

address:nth-child(1) img {
    width: 35px;
}

.ft_tel {
    margin-left: 15px;
}

.ft_tel img {
    border-radius: 20px;
}   

address:nth-child(2) div {
    margin-top: 5px;
}

address:nth-child(2) img {
    width: 30px;
    padding: 3px;
    margin-inline: 5px;
    background-color: var(--clr-light-font--);
    border: var(--clr-dark-font--) 3px solid;
    border-radius: 50%;
}