:root {
    --clr-header-bg--:#364968;
    --clr-logo-drpShdw--:#000;
    --clr-aside-bg--:#555;
    --clr-aside-border--:#ddd;
    --clr-aside-selcted--:#ff0000;
    --clr-nav-bg--: #E09664;
    --clr-nav-hvr--: #555555;
    --clr-art1-bg--:#FDDF97;
    --clr-art2-bg--:#44BEDE;
    --clr-section-bg--: #fff;
    --clr-search-bg1--:#fff;
    --clr-search-bg2--: #eee;
    --clr-search-selcted--: #DDD;
    --clr-search-border--:#04B3FD;
    --clr-search-icon--:#4CA522;
    --clr-search-iconhvr--:#0F410E;
    --clr-light-font--: #fff;
    --clr-dark-font--: #000;
    --clr-link-font--: #5cbfca;
    --clr-link-hover--: #3A7D1B;
    --clr-footer-bg--: #6C4343;

    scroll-behavior: smooth;
}

.mousemove {
    height: 15px;
    width: 15px;
    border: 2px solid var(--clr-nav-bg--);
    background-color: rgb(60, 60, 60,0.3);
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .2s ease-out;
    z-index: 0;
    pointer-events: none;
}

h1 {
    color: var(--clr-light-font--);
    font-size: 2.5em;
    text-shadow: var(--clr-logo-drpShdw--) 4px 4px 4px;
}

h2 {
    font-size: 1.1em;
    padding-left: 5px;
    margin: 10% 0 10% 15%;
    border-left: var(--clr-aside-border--) 8px double;
    &::first-letter {
        font-size: 1.3em;
    }
}

h3 {
    font-size: 1.2em;
    text-decoration: none;
}

ul,li {
    list-style: none;
}

body {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    color: var(--clr-dark-font--);
}

/* ###### Bloc de navigation latérale ###### */

aside {
    position: sticky;
    top: 0;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
}

aside + div {
    width: 100%;
}

/* les textes desciptives */
aside, aside span+span, aside h2 {
    color: var(--clr-light-font--);
    background-color: var(--clr-aside-bg--);
}

.selected_span {
    border-bottom: 1px solid var(--clr-aside-selcted--);
}

aside > div {
    position: sticky;
    top: 300px;
    transform: translate(0,-50%);
}

aside a {
    text-decoration: none;
}

aside a > div {
    height: fit-content;
    width: fit-content;
    gap: 10px;
    padding: 14px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;
}

aside nav {
    height: max-content;
    width: auto;
    border-bottom: var(--clr-aside-border--) 3px solid;
    border-top: var(--clr-aside-border--) 3px solid;
}

aside nav:nth-child(1) {
    border: none;
    margin: 20%;
}

aside nav:nth-child(1) i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--clr-light-font--);
    cursor: pointer;
}

aside nav:nth-child(1) i:hover{
    color: var(--clr-dark-font--);
}

aside ul {
    margin: 0;
    padding-left:20%;
}

/* Navigation */

.navigation i {
    color: var(--clr-light-font--);
}

aside span + span, aside h2 {
    visibility: collapse;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.aside_open {
    width: 15%;
}

.aside_open div{
    top: 360px;
}

.span_visible {
    visibility: visible;
    display: block;
    opacity: 1;
}

@starting-style {
    .span_visible {
      opacity: 0;
    }
}

/* Select color*/

.select-color  {
    border-bottom: var(--clr-aside-selcted--) 3px solid;
    border-top: var(--clr-aside-selcted--) 3px solid;
}

.navigation + h2 {
    border-left-color: var(--clr-aside-selcted--)
}

.sphere-color {
    align-self: flex-end;
    border: 20px solid;
    border-radius: 50%;
    transform: rotate(45deg);
    filter: brightness(1);
    transition: filter 0.3s;
    &:hover {
        transform: rotate(90deg);
        filter: brightness(0.9);
    }
}

.selected {
    box-shadow:var(--clr-aside-selcted--) 4px 0px 6px;
}

/* Sélection des couleurs */

.color-default {
    border-color: #364968 #364968 #FDDF97 #FDDF97;
}

.color-default:hover {
    border-color: #FDDF97 #FDDF97 #364968 #364968;
}

.color-ice {
    border-color: #ccc #ccc #55abc5 #55abc5;
}

.color-ice:hover {
    border-color: #55abc5 #55abc5 #ccc #ccc;
}

.color-hot {
    border-color: #9e928b #9e928b #d72a2a  #d72a2a;
}

.color-hot:hover {
    border-color: #d72a2a #d72a2a #9e928b #9e928b;
}

.color-forest {
    border-color: #884009 #884009 #5b9245 #5b9245;
}

.color-forest:hover {
    border-color: #5b9245 #5b9245 #884009 #884009;
}

/* ###### Bloc principale ###### */

main {
    width: 100%;
}

/* Arrangement du header
arrangement en ligne, espacé entre eux
composant aligner au centre verticalement
Définition de la couleur du fond
*/
header {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--clr-header-bg--);
}

/* logo menu */

/* Logo portfolio */
header > a > img {
    padding: 5px 0;
    width: 236.29px;
    height: 102.02px;
    filter: drop-shadow(4px 4px 4px var(--clr-logo-drpShdw--));
}

header img {
    object-fit: cover;
}

/* ### Barre de recherche ###
*/

/* bloc de la barre */    
.search-input {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

/* -- Définition du logo loupe --
- ajustement dans la barre de recherche
- Logo de couleur orange
- changement du curseur
*/
.search-input input + div + a {
    position: absolute;
    right: 0.9em;
    top: 0.9em;
    color: var(--clr-search-icon--);
    cursor: pointer;
    &:hover {
        color: var(--clr-search-iconhvr--);
    }
}

/* Liste de suggestions */
header input + div {
    z-index: 5;
    margin-left: .5px;
    width: 98.5%;
    top: 45px;
    position: absolute;
    background-color: var(--clr-search-bg1--);
    border: var(--clr-search-border--) 1px solid;
    overflow-x: scroll;
}

header li {
    width: auto;
    background-color: var(--clr-search-bg1--);
    text-wrap: nowrap;
}

header li:nth-child(2),header li:nth-child(4),header li:nth-child(6),header li:nth-child(8),header li:nth-child(10),header li:nth-child(12) {
    background-color: var(--clr-search-bg2--);
}

header li:hover{
    cursor: pointer;
    background-color: var(--clr-search-selcted--);
}

/* Barre de recherche */

header input {
    width: 100%;
    height: 40px;
    background-color: var(--clr-section-bg--);
}

/* Navigation */

article > nav {
    position: sticky;
    top: 0%;
    z-index: 3;
    background-color: var(--clr-nav-bg--);
    padding: 5px 0;
}

article > nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

article > nav a{
    color: var(--clr-light-font--);
    text-decoration: none;
}
  

a:hover{
    color: var(--clr-link-hover--);
    text-decoration: underline;
}

/* # main # */

.main {
    display: flex;
    flex-flow: row nowrap;
}

article {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    border: var(--clr-nav-bg--) 7px double;
}

article nav + div {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
}

article nav + div > div + div {
    display: flex;
    flex-flow: column wrap;
    width: 55%;
}

#art_presentation, #art_outils {
    background-color: var(--clr-art1-bg--);
}

#art_portfolio, #art_actualite {
    background-color: var(--clr-art2-bg--);
    border-color: var(--clr-header-bg--);
}

#art_portfolio nav, #art_actualite nav {
    background-color: var(--clr-header-bg--);
}

#art_portfolio section, #art_actualite section {
    border-color: var(--clr-header-bg--);
}

/* Article présentation */

#art_presentation nav + div > div {
    height: min-content;
}

#cv {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 15px;
    gap: 15px;
}

#cv img {
    border: var(--clr-dark-font--) 1px solid;
}

form {
    border: solid 1px var(--clr-dark-font--);
    border-radius: 15px;
    padding: 10px 15px;
}

label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--clr-aside-border--);
    border-radius: 50%;
}
  
label:hover input ~ .checkmark {
    background-color: var(--clr-aside-bg--);
}
  
label input:checked ~ .checkmark {
    background-color: var(--clr-header-bg--);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
label input:checked ~ .checkmark:after {
    display: block;
}
  
label .checkmark:after {
    top: 7px;
    left: 6.2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--clr-light-font--);
}

button {
    background-color: var(--clr-search-icon--);
    color: var(--clr-light-font--);
}

button:hover {
    background-color: var(--clr-aside-bg--);
}

button:active {
    background-color: var(--clr-search-iconhvr--);
}

section {
    width: auto;
    margin: 15px;
    padding: 10px;
    background-color: var(--clr-section-bg--);
    min-height: 150px;
    border: var(--clr-nav-bg--) 2px solid;
}

section img{
    width: 200px;
    object-fit: cover;
}

#parcours {
    width: 550px;
    display: flex;
    flex-flow: column nowrap;
    align-items : center;
}

#parcours h3 + div{
    width: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: relative;
    bottom: -50px;
    &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 1175px;
        transform: translate(0,-5.5%);
        background-color: black;
    }
}

.point {
    position: relative;
    z-index: 2;
    border-radius: 25%;
    border: 10px solid red;
    transform: translate(-35%,0);
    &:before {
        content: "";
        position: absolute;
        background-color: red;
        transform: translate(-100%,-50%); /* Varier entre 0 et -100%*/
        width: 50px;
        height: 5px;
    }
}

.point:nth-child(3) {
    border-color: orange;
    &:before {
        background-color: orange;
        transform: translate(0,-50%); /* Varier entre 0 et -100%*/
    }
}

.point:nth-child(5) {
    border-color: #b8b814;
    &:before {
        background-color: #b8b814;
    }
}

.point:nth-child(7) {
    border-color: green;
    &:before {
        background-color: green;
        transform: translate(0,-50%);
    }
}

.point:nth-child(9) {
    border-color: darkgreen;
    &:before {
        background-color: darkgreen;
    }
}

.point:nth-child(11) {
    border-color: teal;
    &:before {
        background-color: teal;
        transform: translate(0,-50%);
    }
}

.point:nth-child(13) {
    border-color: blue;
    &:before {
        background-color: blue;
    }
}

.point:nth-child(15) {
    border-color: darkblue;
    &::before {
        background-color: darkblue;
        transform: translate(0,-50%);
    }
}

.point:nth-child(17) {
    border-color: purple;
    &::before {
        background-color: purple;
    }
}

.hist {
    position: relative;
    width: 150px;
    transform: translate(55px,-55px);
    background-color: #eee;
    border-radius: 15%;
    padding: 5px;
}

.hist:nth-child(2), .hist:nth-child(6), .hist:nth-child(10), .hist:nth-child(14), .hist:nth-child(18) {
    transform: translate(-215px,-55px);
}

h4, h5 {
    margin: 10px;
}

h5 {
    margin-left: 20px;
}
/* Presentation */

#presentation img {
    float: right;
    position: relative;
    top: -20px;
}

/* centre d'intéret */

.galerie-photo {
	display : flex;
    flex-flow: row nowrap;
	height : 20rem;
	gap : 1rem;
}

.galerie-photo > div{
	flex : 1;
	border-radius : 1rem;
	background-position : center;
	background-repeat : no-repeat;
	background-size : auto 100%;
	transition : all .8s cubic-bezier(.25, .4, .45, 1.4);
    &:hover {
        flex : 5;
    }
    &:not(:hover) {
        opacity: 0.7;
        filter: brightness(.4);
    }
}

/* # footer # */

footer {
    background-color: var(--clr-footer-bg--);
    color: var(--clr-light-font--);
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

address > span {
    font-size: 1.5em;
}

address img {
    width: 15px;
}

footer a, article a {
    color: var(--clr-link-font--);
    text-decoration: none;
}